<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{!-- Header/ Responsive Nav Bar --}}
    {{> header}}

    <div class="container">
        <h1>{{subtitulo}}</h1>
    </div>

    <section class="container">
        <form action="/send-email" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
                    placeholder="Tu email">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre">
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Tu apellido">
            </div>
            <div class="mb-3">
                <label for="asunto" class="form-label">Asunto</label>
                <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Escribe un asunto">
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3"
                    placeholder="Escribe tu mensaje"></textarea>
            </div>

            <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
    </section>

    {{!-- Footer --}}
    {{> footer}}
    
</body>
</html>