<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{!-- Header/ Responsive Nav Bar --}}
    {{> header}}

    <div class="container">
        <h1>{{titulo}}</h1>
    </div>

    <section class="container">
        <h3>Su mensaje se ha enviado</h3>
    </section>

    <div class="container">
        <a href="contacto"><button type="button" class="btn btn-primary" >Volver</button></a>
    </div>
</body>

</html>