<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{!-- Header/ Responsive Nav Bar --}}
    {{> header}}
    <article>
        <section class="container">
            <h2 class="contacto">Su mensaje ha sido enviado.</h2>
            <h3 class="contacto">{{subtitulo}}</h3>
        </section>

        <div class="container">
            <a href="contacto"><button type="button" class="btn btn-dark contacto">Volver</button></a>
        </div>
    </article>

    {{!-- Footer --}}
    {{> footer}}

</body>

</html>