h1 {
    margin: 32px;
    margin-left: 0px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    margin-top: 32px;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
}

body {
    background-color: bisque;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.btn-agregar-cli {
    margin-bottom: 20px;
}

.contacto {
    margin-top: 20px;
}

footer {
    background-color: rgb(24, 22, 22);
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-top: auto;
}

.footer-menu {
    list-style: none;
    padding: 1rem;
}

.footer-menu li {
    padding: 3px;
}

.footer-menu li a {
    text-decoration: none;
    color: brown;
}


/* acordeon nosotros */

.accordion {
    border-color: rgb(24, 22, 22);
}

.accordion-button:not(.collapsed) {
    color: rgb(255, 35, 35);
    background-color: rgb(49, 44, 44);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    border-radius: 2px;
}

.accordion-body {
    background-color: rgba(226, 223, 209, 0.753);
}

.tarjeta-box {
    display: grid;
    grid-template-areas: "card-1 card-2 card-3";
    justify-items: center;
}