h1 {
    margin: 32px;
    margin-left: 0px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    margin-top: 32px;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
}

body {
    background-color: bisque;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.btn-agregar-cli {
    margin-bottom: 20px;
}

.contacto {
    margin-top: 20px;
}

footer {
    background-color: rgb(24, 22, 22);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    min-height: 50px;
    margin-top: auto;
}

.footer-menu {
    list-style: none;
    padding: 1rem;
}

.footer-menu li {
    padding: 3px;
}

.footer-menu li a {
    text-decoration: none;
    color: brown;
}